{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    {% for assignees in user.tasks.all %}
                        <tr>
                            <td>{{ assignees.name }}</td>
                            <td>{{ assignees.start_date }}</td>
                            <td>{{ assignees.due_date }}</td>
                            <td>{{ assignees.is_complete|yesno }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
